[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
python-dotenv = "==1.0.0"
authlib = "==1.2.0"
requests = "==2.31.0"
flask-wtf = "==1.1.1"
email-validator = "==2.0.0.post2"

[dev-packages]
pydevd-pycharm = "==221.6008.17"
pytest = "7.3.2"

[requires]
python_version = "3.8"