    .auth0-lock.auth0-lock .auth0-lock-overlay
    {
        background: #e6e6e6;
    }
    .submit {
        min-height: 60px;
    }
    .submit:hover {
        font-size: 15px !important;
    }

    .logout-button {
        position: absolute;
        top: -0.625em;
        right: -1.0625em;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 16px;
        color: #000000;
        z-index: 9999;
    }

    .back-button {
        position: absolute;
        top: -0.625em;
        left: -1.0625em;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 16px;
        color: #000000;
        z-index: 9999;
    }

    .logout-button:hover, .back-button:hover {
        text-decoration: underline !important;
    }

    .flash-message {
        background-color: #e4ffe4;
        border: #399d39 thin solid;
        padding: 13px;
        font-size: 13px;
        color: #156515;
        margin: 20px;
        border-radius: 5px;
        text-align: left;
    }

    ul {
      list-style: none;
    }