    .auth0-lock.auth0-lock .auth0-lock-overlay
    {
        background: #e6e6e6;
    }
    .submit {
        min-height: 60px;
    }
    .submit:hover {
        font-size: 15px!important;
    }

    .logout-button {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      background-color: #000000 !important;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      z-index: 9999;
        font-weight: bold;
    }

    .logout-button:hover {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      background-color: #E31837 !important;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      z-index: 9999;
        font-weight: bold;
    }

    .flash-message {
        background-color: #e4ffe4;
        border: #399d39 thin solid;
        padding: 13px;
        font-size: 13px;
        color: #156515;
        margin: 20px;
        border-radius: 5px;
        text-align: left;
    }

    ul {
      list-style: none;
    }